@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap');

.card {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto 1fr;
  grid-gap: 1em;
  background: #3c3e44;
  border-radius: 1em;
  height: 13em;
  font-family: 'Roboto Slab', serif;
}

.image {
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  height: inherit;
}

.info {
  display: grid;
  text-align: left;
}

.info * {
  margin: 0;
}

.name {
  font-size: 2.3em;
  padding-top: 0.3em;
}

.status {
  display: flex;
  justify-content: space-around;
  padding-right: 2em;
}
